:root {
    --bg: #000;
    --bg-secondary: #444444;
    --bg-tertiary: #666666;

    --button-primary: #007bff;
    --button-secondary: #6c757d;
    --button-disabled: #6c757d;

    --io-primary: #e84242;

    --text: #fff;
    --text-secondary: #bbb;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Roboto", sans-serif;
    overflow: hidden;

    display: grid;
    grid-template-columns: 285px 1fr;
    grid-template-rows: 5% 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.tab-content {
    display: none;

    &.active {
        display: block;
    }
}

#tabs {
    height: 100%;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 2 / 2 / 6;

    & .tab {
        height: 75%;
        width: 100%;
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#sidebar {
    height: 100%;
    width: 100%;
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--bg-secondary);

    & #sidebar-tabs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5%;
        padding: 0 10px;

        & button {
            width: 100%;
        }
    }

    & #sidebar-header {
        width: 94%;
        background-color: var(--button-primary);
        height: 4%;
        margin: 7px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    & #sidebar-content {
        height: 95%;
        overflow-y: auto !important;
    }

    & #sidebar-tabs-content .tab-content {
        padding: 10px;
    }
}

#content {
    height: 100%;
    background-color: var(--bg);
    padding: 10px;
    grid-area: 2 / 2 / 6 / 6;

    & .tab-content {
        height: 100%;
        width: 100%;
    }
}

.node {
    padding: 7px;
    margin-bottom: 10px;
    background-color: var(--bg-tertiary);

    & .io {
        width: 100%;

        & td.input::before,
        td.output::after {
            content: " ";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--io-primary);
            margin: 0 5px;
        }

        & .input {
            text-align: left;
        }

        & .output {
            text-align: right;
        }
    }

    & .recipe {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .name {
            width: 100%;
        }

        & .material {
            width: 100%;
        }

        & .amount {
            width: 100%;
            text-align: right;
        }

        & tbody {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
        }
    }

    & button {
        width: calc(100% - 7px);
    }
}

#factories {
    overflow-y: auto !important;
    height: 95vh;

    & input {
        margin-bottom: 10px;
        width: calc(100% - 20px);
    }
}

#storage {
    overflow-y: auto !important;
    height: 93vh;

    & .material {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin: 5px;
        background-color: var(--bg-tertiary);

        & .name {
            width: 100%;
        }

        & .amount {
            width: 100%;
            text-align: right;
        }
    }
}

ul {
    padding-left: 20px;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

strong {
    text-shadow: 0 0 3px #fff;
}

.footer {
    color: var(--text-secondary);
    font-size: 14px;
}

.ctx-menu {
    position: absolute;
}

#shop-tab {
    height: 100%;
    overflow: scroll;
}

.shop-item {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 10px;
    background-color: var(--bg-secondary);

    & * {
        width: 100%;
    }

    & .sell-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

#tools {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    padding: 10px;

    & button {
        width: 50px;
        height: 50px;
    }

    & button.active {
        background-color: var(--button-secondary);
    }
}

#changelog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;

    & #changelog-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        background-color: var(--bg-secondary);
        padding: 20px;
        overflow-y: auto !important;
        z-index: 11;

        & #changelog-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & #changelog-title {
                font-size: 40px;
            }

            & #changelog-close {
                font-size: 20px;
                cursor: pointer;
            }
        }

        & #changelog-stuff {
            font-size: 18px;
        }
    }
}
